:root {
  --game-square-border: 1px solid black;
  font-family: "Gaegu", cursive;
}
h2 {
  margin: 0px;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  width: 100%;
  height: 80px;
  padding: 15px;
  justify-content: center;
  border-bottom: 3px solid black;
  font-size: 500%;
}

.player-container {
  display: flex;
  width: 30%;
  height: 100%;
  justify-content: space-between;
}

.player {
  /* background-color: rgb(240, 143, 213); */
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.game-container {
  padding: 5%;
  display: grid;
  width: 100%;
  justify-content: center;
  grid-template-rows: repeat(3, 150px);
  grid-template-columns: repeat(3, 150px);
  background-color: rgba(245, 245, 30, 0.872);
}

.field {
  display: flex;
  font-size: 100px;
  align-items: center;
  justify-content: center;
}

.field:hover {
  background-color: rgb(240, 143, 213);
}

.turn-highlight {
  background-color: rgb(240, 143, 213);
}

#a {
  border-right: var(--game-square-border);
  border-bottom: var(--game-square-border);
}
#b {
  border-bottom: var(--game-square-border);
}
#c {
  border-bottom: var(--game-square-border);
  border-left: var(--game-square-border);
}
#d {
  border-right: var(--game-square-border);
}

#f {
  border-left: var(--game-square-border);
}
#g {
  border-top: var(--game-square-border);
  border-right: var(--game-square-border);
}
#h {
  border-top: var(--game-square-border);
}
#i {
  border-top: var(--game-square-border);
  border-left: var(--game-square-border);
}
